Django==3.2
gunicorn
requests
django-dotenv
psycopg2-binary
django-storages
boto3
black
python-dotenv
django-crispy-forms
django-environ
crispy_bootstrap4
whitenoise
django-elasticsearch-dsl==7.2.1
elasticsearch==7.16.2
elasticsearch-dsl==7.4.0