settings.py
.env
*.pyc 
db.sqlite3
collectstatic.sh
Dockerfile
entrypoint.sh
migrate.sh
nginx.default
docker-compose.yaml
.vscode
settings.json

# ignore media files.
/media/profile_avatars/*
!/media/profile_avatars/default_user_avatar.png