.tag-suggestions {
    background-color: white;
    border: hsl(210,8%,80%);
    padding: 10px;
    z-index: 300;
    border-radius: 5px;
    box-shadow:0 1px 3px hsla(0,0%,0%,0.06), 0 2px 6px hsla(0, 0%, 0%, 0.06), 0 3px 8px hsla(0, 0%, 0%, 0.09);;
    display: flex;
    flex-wrap: wrap;
}
.outline-none {
outline: 0 !important;
}
.tag-suggestions>div {
padding: 8px;
width: 364px;
overflow: hidden;
position: relative;
border-radius: 5px;
cursor: pointer;
/* border: 1px solid #727272; */
max-height: 140px;
}
.wmx100 {
max-width: 100% !important;
}
.box-border {
box-sizing: border-box !important;
}
.tag-list-all{
    width: 48% !important;
    margin: 5px;
    border: 1px solid hsl(210,8%,85%);
    border-radius: 5px;
    max-height: 115px;
    overflow: hidden;
}
.tag-descr{
    font-size: 13px;
    padding-left: 10px;
}
.s-tag{
    /* background-color: hsl(205,46%,92%); */
    padding-right: 5px;
    color: hsl(205,47%,42%);
}
.edit_pro{
    color: #07518f;
    text-transform: capitalize;
    text-decoration: none;
}
p{
    line-break: anywhere;
}


.logout_btn{
    text-decoration: none;
    margin-left: 5px;
    padding-left: 10px;
    border: none;
    background: transparent;
    color: #07518f;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: small;
}

.logout_btn:hover,.edit_pro:hover{
    color: white;
}

.main_content_custom{
    min-height: calc(100vh - 53px);
}

#suggestion_div {
    display: none;
    border: 1px solid #5555;
    background-color: white;
    width: 0;
    padding: 10px;
    height: auto !important;   
    transition: width 0.3s, height 0.3s;
    position:absolute !important;
    overflow: hidden;
    /* white-space: pre-wrap; */
  }

  .notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }  