* {
    margin: 0;
    padding: 0;
}

:root {
    --theme_background: #a4c7e6;
    --theme_line: #07518f;
}

header{
    background-color: var(--theme_background);
}

.logo {
    width: 150px;
    height: 30px;
}

.minilogo {
    height: 50px;
}

.nav_hover {
    font-size: 13px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.nav_hover:hover {
    background-color: var(--theme_line);
    border-radius: 30px;
}

.nav_searchbar {
    padding-left: 8px;
}

nav {
    border-top: 3px solid var(--theme_line);
}

.first_section {
    border-right: 1px solid silver;
}

.second_section {
    border-right: 1px solid silver;
    min-height: calc(100vh - 53px);
}


footer {
    background-color: var(--theme_background);
    padding-bottom: 50px;
}

.footer_title {
    color: var(--theme_line);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.footer_title:hover {
    color: var(--theme_line);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.footer_details {
    color: #07518f;
    font-size: 13px;
    text-decoration: none;
}

.footer_details:hover {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.nav_link_style{
    font-size: small;
    color: #75787c;
}

.left-manu-list-active {
    background-color: #f1f2f3;
    border-right: 3px solid var(--theme_line);
    padding-left: 10px;
    font-weight: bold;
    color: black;
}


.sub_menu_1 {
    margin-left: 30px;
}

.third_section_title {
    background-color: #fbf3d5;
    color: #525960;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

.third_section_details {
    background-color: #fdf7e2;
}

.third_sec_icon {
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    padding-top: 12px;
}

.third_sec_border {
    border: 1px solid #f1e5bc;
    box-shadow: 0px 0px 3px 0.1px #f1e5bc;
}

.third_sec_border2 {
    border-bottom: 1px solid #f1e5bc;
    /* box-shadow: 0px 0px 3px 0.1px #f1e5bc; */
}

.third_sec_desc {
    font-size: 11px;
    font-weight: normal;
    padding-top: 8px;
    color: #3b4045;
}

.third_sec_end_padding {
    padding-bottom: 5px;
}

.first_section {
    overflow: auto;
}

.message_center{
    width: 25%;
    margin: 0 35% 0;
    z-index: 1;
    position: absolute
}
#msg{
    display:none; 
    text-align: center !important;
    margin-top: 20px !important;
    position:absolute !important;
    margin-left: 37% !important;
}
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  display: inline-grid;
  background: transparent;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.question_list{
    /* border-bottom: 1px solid #c0c0c0; */
    padding: 10px;
    max-height: 150px;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box
}

.left_menus:hover{
    color: #07518f;
}