/* Commonly used items */

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.btn_style_1 {
    align-self: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    font-size: 13px;
    color: #39739d;
    background-color: #e1ecf4;
    cursor: pointer;
}

.btn_style_1:hover {
    background-color: #c2def1;
    cursor: pointer;
}

.btn_style_2 {
    align-self: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    font-size: 13px;
    background-color: #0a95ff;
    cursor: pointer;
}

.btn_style_2:hover {
    background-color: #1580d1;
    cursor: pointer;
}

.main_title{
    font-weight: normal;
}

.form-control{
    border-radius: 2px;
    line-height: 0.5rem;
}