{% extends 'home/index.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <h4 class="main_title col-sm-10">Questions tagged [python]</h4>
        <a href="{% url 'post_question' %}" class="col-sm-2 text-light btn_style_2 center">Ask Question</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="pt-3" style="font-size: 13px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eum doloribus culpa atque molestiae adipisci incidunt dicta. Itaque minus a explicabo commodi perspiciatis,
            non deserunt placeat, necessitatibus beatae dolorum voluptatem cum. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Magnam officiis dolor suscipit ad sint quaerat, sed facere est. Perferendis minus unde laboriosam repudiandae quae itaque recusandae libero, praesentium iusto nam?</p>
        </div>
    </div>

{% endblock %}