{% extends 'home/index.html' %}
{% load static %}
{% block content %}
    <style>
        .pagination {
            display: inline-block;
            }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            }
    </style>
    <div class="row">
        <h4 class="main_title col-sm-10">Questions</h4>
        <a href="{% url 'post_question' 0 %}" class="col-sm-2 text-light btn_style_2 center">Ask Question</a>
    </div>
    <div class="row">
        {% for que in questions %}
        <div class="col-sm-12 question_list">

        <a href="{% url 'view_question' que.id %}">{{ que.title }}</a>
            <p class="pt-3" style="font-size: 13px;">{{ que.body | safe }}</p>
        </div>
        {% endfor %}
    </div>
    {% include 'blogs/pagination.html' with queryset=questions custom_range=custom_range %}
<script>
    var question_search = '{{ question_search }}'
    console.log("question_search", question_search);
    if (question_search != 'None'){
    $("#question_search").val(question_search)
    }
</script>
{% endblock %}