{% extends 'home/common.html' %}
{% load static %}
{% block body_content %}
{% load crispy_forms_tags %}         

<!--Register--> 
<style>
	#id_body{
		line-height: 1.5rem !important;
	}
	#div_id_body{
		margin-bottom: 10px;
	}
</style>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<div class="container py-5">
	<h1>Ask a Question:</h1>
	<form method="POST" action="{% url 'post_question' question_id %}">
		{% csrf_token %}
		{{ form|crispy }}                    
		<button class="btn btn-primary" type="submit">Post</button>
		<button class="btn btn-primary" type="submit">Save as a Draft</button>
		<br>
		<br>
		<label>Tags*</label>
		<br><input type="text" placeholder="use , between two tags">
	</form>
</div>

{% endblock %}