{% extends 'home/common.html' %}
{% load static %}
{% block body_content %}
{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1>Ask a Question:</h1>
	<form method="POST" action="{% url 'post_question' 0 %}">
		{% csrf_token %}
		{{ form|crispy }}                    
		<button class="btn btn-primary" type="submit">Post</button>
		<button class="btn btn-primary" type="submit">Save as a Draft</button>
		<br>
		<br>
		<label>Tags*</label>
		<br><input type="text" placeholder="use , between two tags">
	</form>
</div>

{% endblock %}