{% extends 'home/common.html' %}
{% load static %}
{% block body_content %}
{% load crispy_forms_tags %}

<!--Register--> 
<style>


</style>
<div class="container py-5">
	<div class="row" style="justify-content: space-between;">
        <h4 class="main_title col-sm-10" style="width: auto;">Post a answer:</h4>
		{% if question.id == 0 %}
        <a href="{% url 'index' %}" class="btn btn-primary center" style="width:auto;">Back</a>
		{% else %}
		<a href="{% url 'view_question' question_id=question.id %}" class="btn btn-primary center" style="width:auto;">Back</a>
		{% endif %}
    </div>
    <h4 style="color: hsl(205,47%,42%);">{{question.title | safe }}</h4>
    <p style="padding-left: 5px;">{{question.body | safe }}</p>
    <form method="POST" action="{% url 'post_answer' question.id answer_id %}">
		{% csrf_token %}
		{{ form|crispy }}  
		<br>
		<br>               
		<button class="btn btn-primary" type="submit">Post answer</button>
		<button class="btn btn-primary" type="submit">Save as a Draft</button>
	</form>
</div>


{% endblock %}
