{% extends 'home/index.html' %}
{% load static %}
{% block content %}
<h3>Tags</h3>
<p style="font-size: 13px;">
A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.
</p>
<div class="row">
    {% for que in tags %}
    <div class="f:bs-ring outline-none js-tag-suggestion tag-list-all" tabindex="0" role="option" style="clear: both;">
        <div class="d-flex ai-center"><div class="flex--item mr6"><span class="s-tag">{{que.name}}</span></div>
        </div>
        <p class="mt6 mb0 v-truncate4 lh-md tag-descr">{{que.description}}</p>
    </div>
    {% endfor %}
    {% include 'blogs/pagination.html' with queryset=tags custom_range=custom_range %}
</div>
{% endblock %}