{% extends 'home/index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<style>
    .up_voted{
        color: black;
    }
    .down_voted{
        color: #dbdbdb;
    }
    .tags{
        background-color: #0a95ff7a;
        padding: 3px;
        border: 1px solid #0a95ff7a;
        border-radius: 5px;
        font-size: 11px;
        margin-right: 10px;
    }
    #cke_id_body{
		width: auto !important;
	}
</style>
    <div class="row" style="margin-bottom: 40px;">
        <div style="width: 5%; display:inline">
            <i id="up_vote_icon" style="cursor: pointer;" class="fas fa-long-arrow-alt-up {% if voted == 'up' %}up_voted{% else %}down_voted{% endif %}" onclick="VotePost(event,'{{ data.id }}', 'up')"></i><p id="vote_count">{{ vote_count }}</p><i id="down_vote_icon" style="cursor: pointer;" class="fas fa-long-arrow-alt-down {% if voted == 'down' %}up_voted{% else %}down_voted{% endif %}" onclick="VotePost(event, '{{ data.id }}', 'down')"></i>
        </div>
        <div style="width: 95%; display:inline;">
            <h4 class="main_title col-sm-9">{{data.title}}</h4>
            <p class="pt-3" style="font-size: 13px;">{{data.body | safe}}</p>
            {% for tag in data.tags.all %}
            <span class="tags">
                {{tag}}
            </span>
            {% endfor %}
            <div style="float: right;font-size: 10px;">
                {% if data.updated %}<span>edited &nbsp; {{data.updated}}</span><br>{% endif %}
                <span >created &nbsp; {{data.created}}</span><br>
                <i class="fa fa-user"></i>&nbsp; {{data.author.first_name}}&nbsp;{{data.author.last_name}}
            </div>
            <br>
            <br>
            {% if data.author.id == login_user_id %}
            <a href="{% url 'post_question' data.id %}" class="col-sm-1 text-light btn_style_2 center" style="background-color: green !important; border-color: green !important;">edit</a>
            <a href="{% url 'delete_question' data.id %}" class="col-sm-1 text-light btn_style_2 center" style="background-color: brown !important; border-color: brown !important;">delete</a>
            {% endif %}
            <!-- <a href="{% url 'answer_form' data.id 0 %}" class="col-sm-1 text-light btn_style_2 center" style="background-color: #0a95ff !important; border-color: #0a95ff !important;">Post your answer</a> -->
        </div>

    </div>
    <div class="row">
        <h6>{{total_answer}} &nbsp; Answer</h6>
        {% for data in answer_data %}
        <div style="width: 95%; display:inline;border-bottom: 1px solid #c0c0c0;padding-bottom: 10px;">
            
            <div style="margin-left: 25px;">
                <!-- <h4 class="main_title col-sm-9">{{data}}</h4> -->
                <p class="pt-3" style="font-size: 13px;">
                    {% if data.is_accepted %} 
                    <i class="fa fa-check fa-2x" id="answer_{{ data.id }}" style="color: green; font-size: 2rem;cursor: pointer;" onclick="AcceptAnswer('{{ data.id }}', true)"></i>
                    {% else %}
                    <i class="fa fa-check fa-2x" id="answer_{{ data.id }}" style="color: grey; font-size: 2rem;cursor: pointer;" onclick="AcceptAnswer('{{ data.id }}', false)"></i>
                    {% endif %} 
                    &nbsp; &nbsp; {{data.body | safe}}
                </p>

                <div style="float: right;font-size: 10px;">
                    <span>edited &nbsp; {{data.updated_at}}</span><br>
                    <span >answered &nbsp; {{data.created_at}}</span><br>
                    <i class="fa fa-user"></i>&nbsp; {{data.author__first_name}}&nbsp;{{data.author__last_name}}
                </div>

                {% if data.author.id == login_user_id %}
                    <a href="{% url 'answer_form' data.question data.id %}" class="col-sm-1 text-light btn_style_2 center" style="background-color: green !important; border-color: green !important; margin-right: 10px;">Edit answer</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container py-5">
        <h5>Post a answer:</h5>
        <form method="POST" action="{% url 'post_answer' question_id 0 %}">
            {% csrf_token %}
            {{ form|crispy }}  
            <br>
            <button class="btn btn-primary center" type="submit">Post answer</button>
            <button class="btn btn-primary center" type="submit">Save as a Draft</button>
        </form>
    </div>
    
    <p style="display: none;">{% csrf_token %}</p>
    <script>
        function VotePost(event, post_id, vote_type){
            event.stopPropagation();
            var postData = {
                "vote_type": vote_type,
            }
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/blogs/vote_question/" + post_id + '/',
                data: postData,
                success: function (data) {
                    if (data.code == 401){
                        window.location = "/login/";
                    }
                    if (data.code == 1) {
                        $("#vote_count").text(data.vote_count)
                        if (data.voted == true && vote_type == 'up'){
                            $("#up_vote_icon").removeClass("down_voted")
                            $("#up_vote_icon").addClass("up_voted")
                            $("#down_vote_icon").removeClass("up_voted")
                            $("#down_vote_icon").addClass("down_voted")
                        }
                        if (data.voted == false && vote_type == 'up') {
                            $("#up_vote_icon").removeClass("up_voted")
                            $("#up_vote_icon").addClass("down_voted")
                        }
                        if (data.voted == true && vote_type == 'down'){
                            $("#down_vote_icon").removeClass("down_voted")
                            $("#down_vote_icon").addClass("up_voted")
                            $("#up_vote_icon").removeClass("up_voted")
                            $("#up_vote_icon").addClass("down_voted")
                        }
                        if (data.voted == false && vote_type == 'down') {
                            $("#down_vote_icon").removeClass("up_voted")
                            $("#down_vote_icon").addClass("down_voted")
                        }
                    }
                    if (data.code == 0) {
                        showMessage(
                            "msg",
                            "danger",
                            data.msg,
                            5
                        );
                    }
                }
            });
        }

        function AcceptAnswer(answer_id, is_accepted){
            var question_id = '{{ question_id }}';
            var postData = {
                "question_id" : question_id,
                "answer_id" : answer_id,
                "is_accepted" : is_accepted,
                "csrfmiddlewaretoken": '{{ csrf_token }}',
            }
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/blogs/accept_answer/",
                data: postData,
                success: function (data) {
                    console.log("data", data);
                    if (data.code == 1 && is_accepted == true && data.old_answer_id == 0){
                        $("#answer_" + answer_id).css('color', 'grey')
                        $("#answer_" + answer_id).attr("onclick","AcceptAnswer(" + answer_id +", false)");
                    }
                    if (data.code == 1 && is_accepted == false){
                        $("#answer_" + answer_id).css('color', 'green')
                        $("#answer_" + data.old_answer_id).css('color', 'grey')
                        $("#answer_" + answer_id).attr("onclick","AcceptAnswer(" + answer_id +", true)");
                        $("#answer_" + data.old_answer_id).attr("onclick","AcceptAnswer(" + answer_id +", false)");
                    }
                    if (data.code == 0){
                        showMessage(
                            "msg",
                            "danger",
                            data.msg,
                            5
                        );
                    }
                }}
            )}
    </script>
{% endblock %}